
{% extends 'base.html' %}

{% block content %}
		
		
	<div class="stats">
		<style>
		.stats {
    max-width: 900px;
    margin: auto;
    font-size: 120%;
    }
.stsh {
    font-size: 200%;
    border: solid black;
    padding: 20px 0;
    border-width: 0 0 1px 0;
}
		</style>
		<div class="stsh">About us </div>
		<p>We are here to create a multi genre community fusing all the internet's best into one.</p>
		<p>We are putting all our souls, minds and hearts into this very platform where our audience's could get the best of the internet and many more.</p>
		<p>Audience is our first priority and the content we create are for our ………. community.</p>
		<p>Making of …………  is a give back to the social media community whether its the audience or the other platforms. You can follow us on all of these platforms</p>

	</div>

{% endblock %}