

	<meta name="title" content="{{  article.title|title }}">
	<meta name="description" content="{{  article.tag_line|title }}">
    <meta name="google-site-verification" content="+nxGUDJ4QpAZ5l9Bsjdi102tLVC21AIh5d1Nl23908vVuFHs34="/>
	
	<meta name="robots" content="all">
    <meta name="MSSmartTagsPreventParsing" content="true">
    <meta name="Copyright" content="jArticle">
    <meta name="keywords" content="{{ article.keywords }}">
	
	<meta property="fb:app_id" content="3400312486649200" />
	<meta property="og:title" content="European Travel Destinations">
	<meta property="og:description" content="{{  article.tag_line|title }}">
	<meta property="og:image" content="{{ article.thumbs.url }}">
	<meta property="og:url" content="{{ request.url }}">
	<meta property="og:site_name" content="jArticle">

	<meta name="twitter:site" content="@jArticle"> 
	<meta name="twitter:title" content="{{  article.tag_line|title }}">
	<meta name="twitter:description" content="{{  article.tag_line|title }}">
	<meta name="twitter:image" content="{{ article.thumbs.url }}">
	<meta name="twitter:image:alt" content="{{  article.title|title }}">
	<meta name="twitter:url" content="{{ request.path  }}">
	<meta name="twitter:card" content="summary_large_image">
	
	
	